/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Our CSS will go here */

body {
        background: url("./images/background.png") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}
 
.box.first-row {
    position: relative;
    width: 900px; 
    height: 151px; 
    margin: auto;
    left: 5%
}

.box.second-row {
    position: relative;
    width: 900px; 
    height: 151px; 
    margin: auto;
}
.box.third-row {
    position: relative;
    width: 900px; 
    height: 151px; 
    margin: auto;
}
.box.fourth-row {
    position: relative;
    width: 900px; 
    height: 151px; 
    margin: auto;
    left: 2%;
}

.container1{
    display: inline-block;
    position: relative;
        left: 0; 
    top: 10%; 
    width: 100%;
    border: 1px solid red;
    margin: -15px;
}

.homeSlide {
  position: absolute;
  width: 150px;
  height: 150px;
  background: url("./images/shadow.png") no-repeat center center;
}
.homeSlide > div  {
  position: absolute;
  width: 150px;
  height: 100%;
}
.final {
    z-index: 1111111
}
.slide01{left: 15%}
.slide02{left: 25%}
.slide03{left: 35%}
.slide04{left: 45%}
.slide05{left: 55%}
.slide06{left: 65%}
.slide07{left: 75%}

span.nb {
    color: white;
}

span{
    position: absolute;
    font-size: 2rem;
    color: #CC0066;
    text-shadow: 1px 1px 2px black, 0 0 1.5em rebeccapurple, 0 0 0.35em rebeccapurple;
    font-weight: bold;
    left: 42%;
    top: 35%;
}

div{
    /*border: 2px solid black;*/
}

span.white-with-gold-shadow {
   text-shadow: 1px 1px 2px black, 0 0 1em gold, 0 0 0.2em gold;
   color: white;
   /*font: 1.5em Georgia, "Bitstream Charter", "URW Bookman L", "Century Schoolbook L", serif;*/
}

/*.multi_bg_example {
  background:
url("./images/BOMB.png"),
url('./images/Boom.png'),
url(http://davidwalsh.name/demo/bg-clouds.png);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 100px 100px, 300px 200px, 500px 0px;
  
  background-size:128px 128px, 128px 128px, auto;
  
  width: 500px;
  height: 500px;
}*/






/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}